<div class="landing-block">
  <div class="form">
    <form #myform="ngForm" (ngSubmit)="onSubmitForm(myform)" novalidate>
      <p><label for="emailInput">Inscrivez-vous à notre newsletter !</label></p>

      <label for="nom">Votre nom : </label>
      <input type="text" id="pseudo" name="pseudo" ngModel required>
      <br>
      <label for="email">Votre email : </label>
      <input type="email" id="email" name="email" ngModel>
      <br>
      <button> Ok !</button>
      <!-- <p>Form value: {{ myform.value | json }}</p> -->
    </form>
  </div>
  <img src="assets/snapface.png" alt="Snapface logo">
  <div class="landing-links">
    <button (click)="goToFacesnap()">Continuer vers Snapface</button>
  </div>
</div>