<div class="face-snap-card" [ngClass]="{snapped: snapped == true}">
  <h2>{{faceSnapEnfant.title | uppercase }}</h2>
  <p><button routerLink="/facesnaps">Back</button></p>
  <p>
    <img [src]="faceSnapEnfant.imageUrl" [alt]="faceSnapEnfant.title">
  </p>
  <p>{{faceSnapEnfant.description}}</p>
  <p *ngIf="faceSnapEnfant.location">Photo prise à {{faceSnapEnfant.location}}</p>
  <p>Mise en ligne le {{faceSnapEnfant.createdDate | date: "medium" }}</p>
  <p>
    <button type="button" (click)="onAddSnap()" id="btnSnap">
      {{btnText}}
    </button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnapEnfant.snaps + ', 0)' }">💕 {{faceSnapEnfant.snaps}}</span>
  </p>
</div>