header {
  text-align: center;
  background-color: #70b4c1;
  margin-bottom: 20px;
  padding: 10px;
  color: #ebe5e6;
}

a {
  margin: 0 10px;
  color: #666;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    background-color: #ebe5e6;
  }
}

.active {
  color: #164662;
  text-decoration: underline;
}

button {
  margin: 5px;
  background-color: #ebe5e6;
  border: none;
  color: #164662;
  font-size: 16px;
  font-weight: 500;
  box-shadow: none;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}
